.winning-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #198ffd;
    height: 80%;
}

#winner{
    font-size: 55px;
}

.winning-container img{
    width:350px;
}
