.chatBox {
  position: absolute;
  top: 59%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  height: 220px;
  width: 300px;
  padding: 10px;
}

.chatBox div {
  font-size: 20px;
  color: rgb(255, 15, 15);
  margin: 5px;
}

@media only screen and (max-height: 700px) {
  .chatBox {
    top: 62%;
    height: 150px;
  }
}
